[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/lnn/Desktop/Clash.for.Windows-0.19.26-x64-linux.tar.gz]
row=7
col=0

[B4BDCD397A8DE238]
row=2
col=0

[2824-2416]
row=6
col=0

[FDF04B83066D2DA3]
row=1
col=0

[C030B68630B68348]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/lnn]
row=5
col=0

