*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
  font-size: 18px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  min-height: 100vh;
  height: 100%;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
  color: #4a494a;
  text-align: left;
  background-color: transparent;
  -webkit-overflow-scrolling: touch;
}

#auth-text {
  color: #4a4a4a;
}
/* for modals centre */

.modal {
  text-align: center;
  margin-top: 50px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

/* for modal slides */

.modal-left {
  left: -100%;
  -webkit-transition: opacity 0.5s linear, left 0.5s ease-out;
  -moz-transition: opacity 0.5s linear, left 0.5s ease-out;
  -o-transition: opacity 0.5s linear, left 0.5s ease-out;
  transition: opacity 0.5s linear, left 0.5s ease-out;
}

.modal-left.in {
  left: 0%;
}
​ #auth-container {
  position: fixed;
  width: 900px;
  height: 600px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  border-radius: 10px;
}

#auth-footer {
  color: #ffffff;
  background: #3d9568;
  height: 100px;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}

#loading-spinner {
  font-size: 64px;
  color: #dddddd;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: block;
}

#loading-spinner-container {
  height: 100px;
  width: 100%;
}

#message-container {
  position: absolute;
  font-weight: 200;
  z-index: 10000;
  color: white;
  padding: 10px;
  top: 55px;
  left: 0px;
  right: 0px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#frontage {
  min-width: 600px;
  min-height: 400px;
  padding: 10px;
}

#frontage h {
  color: "#555555";
}

#frontage-content-containter {
  margin: 20px 40px;
  margin-bottom: 50px;
  text-align: center;
}

#frontage-content-containter p,
#frontage-content-containter li {
  font-size: 18px;
  color: #555555;
}

#frontage-content-containter h2 {
  color: #555555;
}

#frontage-content-containter li {
  margin-bottom: 10px;
}

#cancel-button {
  cursor: pointer;
}

.frontage-text-container {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.frontage-list-container {
  text-align: left;
  width: 50%;
  margin: 0 auto;
}

.hide-element {
  display: none;
}

/* Buttons */
.btn {
  display: inline-block;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 8px 15px;

  font-weight: 200;
  color: #fff;
  letter-spacing: 1px;
}

.btn:focus,
.btn:active,
.btn:focus:active {
  box-shadow: none;
  outline: none;
}

.btn--primary {
  background: #4aa47b;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 0 0 #36795b;
}

.btn--primary:hover {
  background: #5cad88;
  color: #fff;
}

.btn--primary:active {
  background: #36795b;
  color: #fff;
  transform: translateY(2px);
}

.btn--secondary {
  background: #30373d;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 0 0 #181b1e;
}

.btn--secondary:hover {
  background: #444b50;
  color: #fff;
}

.btn--secondary:active {
  background: #000;
  color: #fff;
  transform: translateY(2px);
}

.kopernio-link--settings {
  color: #505050;
}

.kopernio-link--settings:hover {
  color: #5cad88;
  text-decoration: none;
}
