<!DOCTYPE html>
<html>
  <head>
    <link href="../css/canarybar-frame.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <div class="overlay">
        <mark id="kopernio-dismiss-button" class="dismiss-button toggle-content">
          <span class="dismiss-text">&times;</span>
        </mark>
        <div id="k-button" class="overlay__button overlay__button--state-searching">
          <div class="overlay__text" data-i18n="viewPdf">View PDF</div>
          <div class="overlay__logo"></div>
        </div>
      </div>
    </div>

    <script src="../../js/components/canarybar-frame.bundle.js"></script>
  </body>
</html>
