<!DOCTYPE html>
<html>
    <head>
        <link href="../css/canarybar.css" rel="stylesheet" />
    </head>
    <body style="background:rgba(48,55,61,0.9);">
        <nav id="background" class="navbar navbar-fixed-top" role="navigation" style="border-bottom: 0px solid #3D9568;">
          <div class="row">
            <div class="col-xs-11 text-center">
              <p id="message" style=" white-space:pre-wrap; font-size: 13px; color: white; font-weight: 200; margin-top:-3px">
              </p>
            </div>
            <div class="col-xs-1">
             <button id="dismiss-button" type="button" style="height: 20px; display:block; margin:auto; margin-top:3px;" class="btn-small kopernio-btn-primary">OK</button>
            <div>
          </div>
        </nav>
        <script src='../../js/components/message-container.bundle.js'></script>
    </body>
</html>
